.layui-timeline-item:before, hr {
            background-color:#e6e6e6
        }
        .layui-timeline {
            padding-left:5px
        }
        .layui-timeline-item {
            position:relative;
            padding-bottom:20px
        }
        .layui-timeline-axis {
            position:absolute;
            left:-5px;
            top:0;
            z-index:10;
            width:20px;
            height:20px;
            line-height:20px;
            background-color:#fff;
            color:#5FB878;
            border-radius:50%;
            text-align:center;
            cursor:pointer
        }
        .layui-timeline-axis:hover {
            color:#FF5722
        }
        .layui-timeline-item:before {
            content:'';
            position:absolute;
            left:5px;
            top:0;
            z-index:0;
            width:1px;
            height:100%
        }
        .layui-timeline-item:last-child:before {
            display:none
        }
        .layui-timeline-item:first-child:before {
            display:block
        }
        .layui-timeline-content {
            padding-left:25px
        }
        .layui-timeline-title {
            position:relative;
            margin-bottom:10px
        }
        .layui-text {
            line-height:22px;
            font-size:14px;
            color:#666
        }
        .layui-text h1, .layui-text h2, .layui-text h3 {
            font-weight:500;
            color:#333
        }
        .layui-text h1 {
            font-size:30px
        }
        .layui-text h2 {
            font-size:24px
        }
        .layui-text h3 {
            font-size:18px
        }
        .layui-text a:not(.layui-btn) {
            color:#01AAED
        }
        .layui-text a:not(.layui-btn):hover {
            text-decoration:underline
        }
        .layui-text ul {
            padding:5px 0 5px 15px
        }
        .layui-text ul li {
            margin-top:5px;
            list-style-type:disc
        }
        .layui-text em, .layui-word-aux {
            color:#999!important;
            padding:0 5px!important
        }
